*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
 
.content {
  display: flex;  
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
}

.result {
  inline-size:711px;
}

.content__details {
  min-width: 399px ;
  display: flex;
  flex-direction: column; 
  gap: 20px; 
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y:auto;
  width: 100%;
  padding: 3px 3px 0 3px;
}

.result__video-container {
  min-width: 711px;
  position: relative;
  margin-block-end: 16px;
}

.result__video {
  height: 386px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}

.content__list:last-child {
  margin-bottom: 0;
}

.content__card-link {
  text-decoration: none;
  display: block;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  color: #fff;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.title {
  text-transform: uppercase;
  font-family:'Oswald', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  line-height: 70.5px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  width: 225px;
}


.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.content__accent {
  color: #545050;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}   

/* кнопки и их состояния */
.botton:focus {
  outline: none; 
  border: none;
} 

.button {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  min-height: 34px;
}

.search-form__submit-button {
 min-width: 194px;
 margin-top: auto;
}

.more-button {
  min-width: 399px;
}

.button:active {
  background-color: #545050 ;
}

.button:hover {
  text-decoration: underline;
  color: #fff;
}

.button:focus-visible {
  outline: white solid 1px;
  outline-offset: 1px; 
}

/* секция состояний .content__details */
.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  color: white;
}

.content__card-link:has(:focus-visible) {
  outline: white solid 1px;
  outline-offset: 1px; 
}

.content__card-link_current {
  background-color: #545050;
}

.search-form__label {
  display: flex;
  width: fit-content; 
  align-items: center;
  gap: 5px; 
}

/* ниже прописано, что для  всех лейблов будет :has(:focus-visible), но я не понимаю, почему мой сброс outline на текст филд в фокусе не работает :( */
 .search-form__textfield:focus {
  outline: none;
} 

.search-form__textfield {
  border: 1px solid white;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-left:  none;
  border-right:  none;
  appearance: none;
  background-color: transparent;
  color: #fff;
  width: 225px; 
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* вот тут */
.search-form__label:has(:focus-visible) {
  outline: white solid 1px;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  position: relative;
  cursor: pointer;
  display:block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
} 

.search-form__checkbox-list .search-form__label:hover {
  cursor: pointer;
  text-decoration: underline white;
}

 .search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: white;
  width: 15px;
  height: 15px;
  outline: 1px solid white;
  outline-offset: 1px;
  margin: 2px;
}

