*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;  
  justify-content: space-evenly;
  align-items: flex-end;
  
  max-height: 534px;
  width: 100%;

}

.result {
  width:711px;
}


.search-form {
  display: flex;
  justify-content: space-between;

}

.content__list {
  position: relative;
  height: 298px;
  overflow-y:auto;
  min-width: 398px;
}

/* Скрываем скроллбар в WebKit-браузерах (Chrome, Safari, Edge) */
.content__list::-webkit-scrollbar {
  display: none;
}

.content__details {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
}

.result__video-container {
  min-width: 711px;
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  height: 386px;
  width: 100%;
  object-fit: cover;
}

.content__list-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  width: 100%;
}

.content__card-link {
  text-decoration: none;
}
.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;

}

.content__video-card-description-container {
  color: #fff;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;

  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;

}

.title {
  text-transform: uppercase;
  font-family: Oswald;
  font-weight: 700;
  font-style: normal;
  font-size: 75px;
  line-height: 70.5px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.content__accent {
  color: #545050;
}

/* .visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}  */

.fieldset {

}

.search-form__submit-button {
 min-width: 194px;
 height: 34px;
 margin-top: auto;
}